name: Deploy to staging

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          # Add EC2 host to known_hosts automatically
          ssh-keyscan -H 13.239.246.244 >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=yes ubuntu@13.239.246.244 << 'EOF'
            set -e
            cd ~/week-25-ci-cd-bms

            git fetch origin
            git reset --hard origin/main
            git clean -fd

            npm install -g pnpm
            pnpm install
            pnpm run build

            pm2 restart fe-server
            pm2 restart http-server
            pm2 restart ws-server
          EOF
